.venv
DumpFolder
__pycache__
.commands
.oldImplementations
.todo
Robot2DStudio.egg-info/dependency_links.txt
Robot2DStudio.egg-info/PKG-INFO
Robot2DStudio.egg-info/SOURCES.txt
Robot2DStudio.egg-info/top_level.txt
Robot2DStudio.egg-info/entry_points.txt
build
